/* TBA: - figure out how to make text smaller inside circle if chord name is long like Fadd9 then
          change font size
          */

/* PLAN: add in arrows between element, with text above.
    https://stackoverflow.com/questions/20037122/draw-an-arrow-between-two-divs
       */

.chords-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  align-items: center;
}

.circle {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  /* Align Circle Below */
  margin: auto;

  color: white;
  text-align: center;
  font-size: 2em;
}

.circle-major {
  background-color: lightcoral;
  /* Display roman numeral in CSS */
  /* content: "\2160"; */
}

.circle-minor {
  background-color: seagreen;
}

.circle-augmented {
  background-color: lightskyblue;
}

.circle-diminished {
  background-color: lightsalmon;
}

/* Controls space between each circle via a empty rectangle */
.node {
  height: 100px;
  width: 100px;
  background-color: gainsboro;
}

.description-container {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  text-align: center;
}

/* .node#chord-0 {
  height: 100px;
  width: 160px;
  background-color: aquamarine;
} */

.roman-num {
  /* Align roman-num Below */
  text-align: center;
}